/* @tailwind base; */
@tailwind components;
@tailwind utilities;

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* others */
a {
  text-decoration: none;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
.ant-picker-range-separator {
  display: none;
}
.ant-picker .ant-picker-input:last-child {
  display: none;
}
.ant-modal {
  top: 60px;
  margin: 0;
  left: 50px;
  height: max-content;
}
.ant-modal-root .ant-modal-mask {
  background-color: transparent;
}
.fc-event-main {
  overflow: hidden;
  padding: 0;
}
.drop-outside {
  border: 1px solid #000;
}
.drop-outside .fc-event {
  text-align: left;
  border: solid 1px red;
  margin: 10px;
  padding-left: 10px;
  cursor: pointer;
}
.ant-modal-content {
  padding: 0 !important;
}
.fc-v-event {
  border: none;
}
.fc-timegrid-event .fc-event-main {
  padding: 0;
}
.fc-day-today {
  background: #fff !important;
}
.fc-v-event {
  background-color: transparent;
}
.fc-event-dragging {
  background-color: #3788d8;
}
.react-datepicker__day--in-range {
  background-color: #216ba5 !important;
}
.ant-modal-body .react-datepicker__day--keyboard-selected {
  background-color: transparent;
}
